In [3]:
import codecs
import pandas as pd
import time
import sys
import os

In [4]:
print os.path.abspath('')

E:\code\jupyter

In [5]:
print time.time()

1464779124.3

In [44]:
data = pd.read_csv('E:/code/cavca/singer_info.txt',sep = '|',header=None)
cols = [ '主键','SingerName','SingerType','歌手的首字笔画数','歌手拼音','歌手别名','歌手全拼','SingerSex','歌手笔画','SingerArea','歌手字数','NaN',]
data.columns = cols
test = data.iloc[:40:3,[1,2,7,9]]#最后一列意义不明，应该舍弃。随意选取有用的。

In [45]:
print test

   SingerName  SingerType SingerSex  SingerArea
0         许嘉文           1         男           1
3   音乐走廊(王宝山)           1         男           1
6         张克帆           1         男           3
9         钟嘉欣           2         女           2
12        高晓通           1         男           1
15        VAV           4        组合           6
18         扬子           1         男           1
21        俞子欣           2         女           1
24        张怡凤           2         女           1
27         朱强           1         男           1
30  KANA-BOON           4        组合           5
33        张冬晨           2         女           1
36        姚红梅           2         女           1
39         曾娇           2         女           1

In [46]:
test['SingerSex']= test['SingerSex'].replace(['男','女','合唱','组合'],[1,2,3,4])
print test[:5]

   SingerName  SingerType  SingerSex  SingerArea
0         许嘉文           1          1           1
3   音乐走廊(王宝山)           1          1           1
6         张克帆           1          1           3
9         钟嘉欣           2          2           2
12        高晓通           1          1           1

In [47]:
test2 = test[test['SingerSex']==2]
print test2

   SingerName  SingerType  SingerSex  SingerArea
9         钟嘉欣           2          2           2
21        俞子欣           2          2           1
24        张怡凤           2          2           1
33        张冬晨           2          2           1
36        姚红梅           2          2           1
39         曾娇           2          2           1

In [48]:
test2 = test[(test['SingerName'] =='钟嘉欣')&(test['SingerSex']==2)]
print test2

  SingerName  SingerType  SingerSex  SingerArea
9        钟嘉欣           2          2           2

In [432]:
base_data = pd.read_csv('E:/code/cavca/singer_base_test.txt',header=None)
cols = ['SingerName','SingerType','SingerSex','SingerArea']
base_data.columns=cols
print base_data[:5]

  SingerName  SingerType  SingerSex  SingerArea
0        胡彦斌           1          1           1
1        蒋卓嘉           1          1           1
2        张恒远           1          1           1
3         星弟           1          1           1
4        金润吉           1          1           1

In [433]:
data = pd.read_csv('E:/code/cavca/singer_info.txt',sep = '|',header=None)
cols = [ 'ID','SingerName','SingerType','歌手的首字笔画数','SingerPinyin','歌手全拼','SingerAnatherName','SingerSex','歌手笔画','SingerArea','歌手字数','NaN',]
data.columns=cols
#data为原始数据
#替换男女合唱组合为 1,2,3,4 ，和数据库的值同步。
data['SingerSex'] = data['SingerSex'].replace(['男','女','合唱','组合'],[1,2,3,4])

singer2 = data.iloc[:,[1,2,7,9]]
print singer2[:5]

  SingerName  SingerType  SingerSex  SingerArea
0        许嘉文           1          1           1
1         扬哲           1          1           3
2         姚峰           1          1           1
3  音乐走廊(王宝山)           1          1           1
4        俞文靖           2          2           1

In [434]:
print len(singer2)
print len(base_data)
#singer2['SingerType']

19124
24044

In [314]:
def change_type(x):
    #大陆
    if x['SingerArea']==1:
        if x['SingerType']==4:
            x['SingerType']=3
        x['SingerType']=x['SingerType']
    #香港和台湾(港台)
    elif (x['SingerArea']==2 or x['SingerArea']==3):
        if x['SingerType']==4:
            x['SingerType']=3
        x['SingerType']=x['SingerType']+3
    #欧美
    elif x['SingerArea']==4:
        if x['SingerType']==4:
            x['SingerType']=3
        x['SingerType']=x['SingerType']+6
    #日本和韩国（日韩）
    elif (x['SingerArea']==5 or x['SingerArea']==6):
        if x['SingerType']==4:
            x['SingerType']=3
        x['SingerType']=x['SingerType']+9
    
test = lambda x:int(x).max()-int(x).min()

In [435]:
singer2['SingerType'] = singer2['SingerType'].replace([1,2,3,4],[80,90,100,100])
singer2['SingerType']=singer2['SingerType']-singer2['SingerArea']
unique = list(singer2['SingerType'].unique())
print unique

[79, 77, 89, 88, 94, 84, 87, 99, 95, 85, 75, 97, 78, 76, 96, 98, 86, 74, 93, 83, 73]

D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [436]:
singer2['SingerType'] = singer2['SingerType'].replace([79,89,99,78,88,98,77,87,97,76,86,96,75,85,95,74,84,94,73,83,93],
                                                      [1,2,3,4,5,6,4,5,6,7,8,9,10,11,12,10,11,12,13,13,13])
print singer2[:20]

   SingerName  SingerType  SingerSex  SingerArea
0         许嘉文           1          1           1
1          扬哲           4          1           3
2          姚峰           1          1           1
3   音乐走廊(王宝山)           1          1           1
4         俞文靖           2          2           1
5          曾慧           5          2           2
6         张克帆           4          1           3
7          张怡           2          2           1
8         赵云飞           1          1           1
9         钟嘉欣           5          2           2
10         朱七           1          1           1
11         肖玄           1          1           1
12        高晓通           1          1           1
13        郑添龙           1          1           1
14         张阔           1          1           1
15        VAV          12          4           6
16        傅晴天           2          2           1
17        许嘉允          11          2           6
18         扬子           1          1           1
19        姚光庭           5          2           3

D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [437]:
for sin in singer2[:5].values:
    print sin[0],sin[1]

许嘉文 1
扬哲 4
姚峰 1
音乐走廊(王宝山) 1
俞文靖 2

In [438]:
base_data= base_data.sort(columns="SingerName")
df1=base_data.reindex()
singer2=singer2.sort(columns="SingerName")
df2=singer2.reindex()

df1['version']='old'
df2['version']='new'

D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':
D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

In [439]:
df1[:5]  #base bata

      SingerName  SingerType  SingerSex  SingerArea version
17188          )          12          3           5     old
13259     0086男团           3          3           1     old
19449       06超女           1          1           1     old
16452      1+3组合           3          3           1     old
15199    10-FEET          12          3           5     old

In [440]:
df2[:5]#新的数据

                SingerName  SingerType  SingerSex  SingerArea version
15774  'Weird Al' Yankovic           7          1           4     new
18990               0086男团           3          1           1     new
18991                 06超女           2          2           1     new
18992                1+3组合           3          2           1     new
18993                 100%          12          1           6     new

In [326]:
#TODO:查看哪些数据（每一行）是新加的aa
diff_panel = pd.Panel(dict(df1 = df1,df2  =df2))
diff_panel

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 24044 (major_axis) x 5 (minor_axis)
Items axis: df1 to df2
Major_axis axis: 0 to 24043
Minor_axis axis: SingerName to version

In [327]:
diff_panel['df2']['SingerName'].head()

0          许嘉文
1           扬哲
2           姚峰
3    音乐走廊(王宝山)
4          俞文靖
Name: SingerName, dtype: object

In [328]:
def report_diff(x):
    return x[0] if x[0] == x[1] else '{} ---> {}'.format(*x)
def new_diff(x):
    return x[1] if x[0] != x[1]  else 'None'

In [329]:
diff_output = diff_panel.apply(report_diff, axis=0)
diff_output.head()

          SingerName  SingerType   SingerSex  SingerArea       version
0       胡彦斌 ---> 许嘉文           1           1           1  old ---> new
1        蒋卓嘉 ---> 扬哲  1 ---> 4.0           1  1 ---> 3.0  old ---> new
2        张恒远 ---> 姚峰           1           1           1  old ---> new
3  星弟 ---> 音乐走廊(王宝山)           1           1           1  old ---> new
4       金润吉 ---> 俞文靖  1 ---> 2.0  1 ---> 2.0           1  old ---> new

In [178]:
new_output =diff_panel.apply(new_diff,axis = 0)
new_output.head()

  SingerName SingerType SingerSex SingerArea
0        许嘉文       None      None       None
1         扬哲       None      None        3.0
2         姚峰       None      None       None
3  音乐走廊(王宝山)       None      None       None
4        俞文靖        2.0       2.0       None

In [159]:
new_singers = new_output[new_output['SingerName']!='None']
print new_singers
print len(new_singers)

                SingerName SingerType SingerSex SingerArea
1                       扬哲          1         1          3
2                       姚峰          1         1          1
4                      俞文靖          2         2          1
5                       曾慧          2         2          2
7                       张怡          2         2          1
8                      赵云飞          1         1          1
10                      朱七          1         1          1
11                      肖玄          1         1          1
13                     郑添龙          1         1          1
14                      张阔          1         1          1
16                     傅晴天          2         2          1
17                     许嘉允          2         2          6
19                     姚光庭          2         2          3
20                     音魔团          4         4          1
22                     曾剑雄          1         1          3
23                      张魁          1         1          3
25                     赵云红          2         2          1
26                      钟杰          1         1          1
28                     吕宏斌          1         1          1
29                      半梦          1         1          1
31                     王潇潇          2         2          1
32                    Mc小洲          1         1          1
34                     许金辉          1         1          1
35                     羊进达          1         1          1
37                    音频怪物          1         1          1
38                      渔圈          1         1          1
40                     张拉拉          2         2          1
41                     张怡凰          2         2          1
42                     赵云龙          1         1          1
43                      钟洁          2         2          1
...                    ...        ...       ...        ...
19094                A-day          4         1          2
19095                Adele          2         2          4
19096                Adman          1         1          3
19097           ADRIAN LUX          2         2          4
19098         Adriana Rusu          2         2          4
19099      Adrianna Louise          2         2          4
19100                AeLL．          4         2          5
19101            Aerosmith          4         1          4
19102                 Aery          1         1          1
19103                  AFI          4         1          4
19104              AFROMAN          1         1          4
19105         After Scholl          4         2          6
19106              After10          4         1          1
19107                  AGA          2         2          2
19108     Agnetha Faltskog          2         2          4
19109                 AG高杰          1         1          7
19110                 A-Ha          1         1          4
19111              Ai Mini          4         2          1
19112                 Aiko          2         2          5
19113                Ailee          2         2          6
19114           Ailee(李艺真)          2         2          6
19115          Aimee Allen          2         2          4
19116  Aimee Blackschleger          2         2          4
19117                Aimer          2         2          5
19118           Air Supply          4         1          4
19119            Airbourne          4         1          4
19120             Airplane          4         1          6
19121                   AJ          1         1          2
19122                A-JAX          4         1          6
19123                  AJR          4         1          4

[19110 rows x 4 columns]
19110

In [138]:
scores = [55, 80, 83, 64, 91, 100, 90, 79]

def score_filter( score ):
  return score >=80 and score < 90
# filter()方法
print filter( score_filter, scores )  # [80, 83]

[80, 83]

In [199]:
new_group = new_singers.groupby('SingerName')

In [422]:
base_data['version']='old'
singer2['version']='new'

In [423]:
base_data[:5]

      SingerName  SingerType  SingerSex  SingerArea version
17188          )          12          3           5     old
13259     0086男团           3          3           1     old
19449       06超女           1          1           1     old
16452      1+3组合           3          3           1     old
15199    10-FEET          12          3           5     old

In [424]:
singer2[:5]

                SingerName  SingerType  SingerSex  SingerArea version
15774  'Weird Al' Yankovic           7          1           4     new
18990               0086男团           3          1           1     new
18991                 06超女           2          2           1     new
18992                1+3组合           3          2           1     new
18993                 100%          12          1           6     new

In [441]:
full_set =pd.concat([df1,df2],ignore_index =True)

In [442]:
print len(full_set)

43168

In [443]:
changes = full_set.drop_duplicates(subset = ['SingerName'],take_last=True)

D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  if __name__ == '__main__':

In [449]:
print 'the all is %d' %len(changes)#两个的合集
print 'the new is %d' %len(df2)#新的歌手数据
print 'the base is %d' %len(df1)#基本歌手数据
#所以新加的数据应该是合集里有的而基本歌手里没有的

the all is 24650
the new is 19124
the base is 24044

In [450]:
changes.sort(columns=['SingerName']).head(20)

D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,SingerName,SingerType,SingerSex,SingerArea,version,duplicate
24044,'Weird Al' Yankovic,7,1,4,new,False
0,),12,3,5,old,False
24045,0086男团,3,1,1,new,False
24046,06超女,2,2,1,new,False
24047,1+3组合,3,2,1,new,False
4,10-FEET,12,3,5,old,False
24048,100%,12,1,6,new,False
24049,1036组合,3,1,1,new,False
24050,10CC,9,1,4,new,False
24051,10强踢馆选手,3,3,1,new,False
9,11호(11),10,1,6,old,False
24052,1306组合,3,1,1,new,False
24053,1314组合,3,1,1,new,False
12,15,10,1,6,old,False
24054,15.5少女组合,3,2,1,new,False
24055,15＆,12,2,6,new,False
24056,183CLUB,6,1,3,new,False
24057,19,3,1,1,new,False
16,19.0,10,1,5,old,False
24058,1931女子偶像组合,3,2,1,new,False

In [451]:
#获得所有出现过重复
dupe_accts = changes.set_index('SingerName').index.get_duplicates()

dupe_accts

[]

In [447]:
changes['duplicate'] =changes['SingerName'].isin(dupe_accts)
changes[:20]

D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

      SingerName  SingerType  SingerSex  SingerArea version duplicate
0              )          12          3           5     old     False
4        10-FEET          12          3           5     old     False
9        11호(11)          10          1           6     old     False
12            15          10          1           6     old     False
16          19.0          10          1           5     old     False
18        1931组合           6          3           3     old     False
21           1N1          12          3           6     old     False
28      2010快乐男声           1          1           1     old     False
33       216臭脸娃娃           4          1           3     old     False
35       24herbs           4          1           2     old     False
38         2Face          10          1           6     old     False
39         2LSON          10          1           6     old     False
42         2PM俊昊          10          1           6     old     False
49  3 Doors Down           9          3           4     old     False
51           312          13          1           7     old     False
55           3NY           2          2           1     old     False
56         3OH 3           7          1           4     old     False
59         3oh!3           7          1           4     old     False
61    3rdEyeGirl           9          3           4     old     False
66     40(Forty)          10          1           6     old     False

In [411]:
add_singers = changes[(changes['duplicate']==False)&(changes['version']=='new')]

In [412]:
len(add_singers)

19122

In [448]:
add_singers

,SingerName,SingerType,SingerSex,SingerArea,version,duplicate
24044,'Weird Al' Yankovic,7,1,4,new,False
24045,0086男团,3,1,1,new,False
24046,06超女,2,2,1,new,False
24047,1+3组合,3,2,1,new,False
24048,100%,12,1,6,new,False
24049,1036组合,3,1,1,new,False
24050,10CC,9,1,4,new,False
24051,10强踢馆选手,3,3,1,new,False
24052,1306组合,3,1,1,new,False
24053,1314组合,3,1,1,new,False
24054,15.5少女组合,3,2,1,new,False
24055,15＆,12,2,6,new,False
24056,183CLUB,6,1,3,new,False
24057,19,3,1,1,new,False
24058,1931女子偶像组合,3,2,1,new,False
24059,1976,6,1,3,new,False
24060,1983组合,3,1,1,new,False
24061,1SaGain,10,1,6,new,False
24062,2 Chainz,7,1,4,new,False
24063,2 Pac,7,1,4,new,False
24064,2 YOUNG SISTER,6,2,3,new,False
24065,2008年世界小姐,2,2,1,new,False
24066,2009快乐女声全国十强,2,2,1,new,False
24067,2010锡柴K歌赛获奖选手,3,4,1,new,False
24068,2011快乐女声全国十二强,2,2,1,new,False
24069,2013年全国高中生大合唱,6,4,3,new,False
24070,2013级P1班,3,4,1,new,False
24071,2014中国小童星演唱会童星代表,3,4,1,new,False
24072,2014年全国高中生大合唱,4,1,3,new,False
24073,2015中国小童星,1,1,1,new,False
...,...,...,...,...,...,...
43138,하트비,12,1,6,new,False
43139,하현우,10,1,6,new,False
43140,함은정,11,2,6,new,False
43141,허각,10,1,6,new,False
43142,허각 Huh Gak,10,1,6,new,False
43143,허그앤키스(Hug Kiss),12,4,6,new,False
43144,허니듀(Honey Dew),12,2,6,new,False
43145,허영생,10,1,6,new,False
43146,허윤아(HER YUN AH),11,2,6,new,False
43147,헤일로,12,1,6,new,False
43148,헨리,10,1,6,new,False
43149,헬로비너스,12,1,6,new,False
43150,혁오,10,1,6,new,False
43151,현빈(玄彬),10,1,6,new,False
43152,현아(炫雅),11,2,6,new,False
43153,현철(玄哲),10,1,6,new,False
43154,혜령(惠玲),11,2,6,new,False
43155,혜이니,11,2,6,new,False
43156,혜이니(Heyne),11,2,6,new,False
43157,홍대광,10,1,6,new,False
43158,홍진영,11,2,6,new,False
43159,화요비,11,2,6,new,False
43160,환희,10,1,6,new,False
43161,효린,11,2,6,new,False
43162,효정,11,2,6,new,False
43163,후니훈(Hoony Hoon),10,1,6,new,False
43164,휘성,10,1,6,new,False
43165,휴우(Hyoo Woo),10,1,6,new,False
43166,히스토리,12,4,6,new,False
43167,힐링프로젝트(Healing Project),12,4,6,new,False

In [453]:
import requests as rq

In [456]:
rtest =rq.get('http://docs.python-requests.org/en/latest/user/advanced/?highlight=stream',stream =True)

In [459]:
rtest.headers

{'X-Cname-TryFiles': 'True', 'Content-Encoding': 'gzip', 'Transfer-Encoding': 'chunked', 'Vary': 'Accept-Encoding', 'X-Served': 'Nginx', 'Server': 'nginx/1.10.0 (Ubuntu)', 'Last-Modified': 'Wed, 01 Jun 2016 18:09:39 GMT', 'Connection': 'keep-alive', 'ETag': 'W/"574f24e3-1618d"', 'Date': 'Fri, 03 Jun 2016 06:40:20 GMT', 'X-Deity': 'web01', 'Content-Type': 'text/html'}

In [474]:
def read_web_songs():
    web_songs = pd.read_csv('E:/code/cavca/base_music.txt',usecols = [1,23,20,24,25,14,19],sep = '|',header=None)
    cols = ['SongName','SongType','SongScreen','SongProperty','SongVersion','SongPublishArea','SongLanguage']
    web_songs.columns= cols
    web_songs['SongScreen'] = web_songs['SongScreen'].replace([7,5,2,1],[1,2,3,4])
    web_songs['SongLanguage'] = web_songs['SongLanguage'].replace([0,1,2,3,4,5,6],[1,2,4,3,5,6,7])
    return web_songs

In [475]:
def read_db_songs():
    base_songs = pd.read_csv('E:/code/cavca/song_base_tb.txt',sep = '|',header=None)
    cols =['SongName','SongType','SongScreen','SongProperty','SongVersion','SongPublishArea','SongLanguage']
    base_songs.columns = cols
    return base_songs

In [476]:
web_songs = read_web_songs()
base_songs = read_db_songs()

In [483]:
web_songs['SongScreen'].unique()

array([0, 4, 3, 6, 2], dtype=int64)

In [478]:
base_songs[:5]

,SongName,SongType,SongScreen,SongProperty,SongVersion,SongPublishArea,SongLanguage
0,爱的思念,1,3,1,1,1,1
1,月光下的情思,1,3,1,1,1,2
2,我愿,1,3,1,1,1,1
3,高原女人,1,2,1,4,1,2
4,守望白云,1,3,1,1,1,1

In [ ]:
df_merge = pd.merge(df_new, df_old, on=['name', 'sex'], how='outer', indicator=True)
df_left_only =  df_merge[df_merge['_merge'] == 'left_only']
print df_left_only
del df_left_only['_merge']
print df_left_only

In [578]:

def read_web_songs_another():
    web_song_id = pd.read_csv('E:/code/cavca/base_music.txt',usecols = [0,1],sep = '|',header=None)
    cols = ['SongId','SongName']
    web_song_id.columns= cols
    return web_song_id

def read_db_songs_another():
	base_songs_id = pd.read_csv('E:/code/cavca/base_compare.txt',sep = '|',header=None)
	cols = ['SongId','SongName']
	base_songs_id.columns= cols
	return base_songs_id

In [579]:
base_songs_id =read_db_songs_another()
web_songs_id = read_web_songs_another()
base_songs_id[:5]

     SongId SongName
0  50006412     爱的思念
1  50006414   月光下的情思
2  50006480       我愿
3  50006481     高原女人
4  50006482     守望白云

In [580]:
web_songs_id[:5]

        SongId    SongName
0  50546499mkv        静待伊人
1  50546463mkv  我们的爱情你珍惜了吗
2  50546465mkv        那就是你
3  50546461mkv      这首歌谁听过
4  50546459mkv        往事如烟

In [581]:
web_songs_id['SongId'].str.extract('(\d*)')
#web_songs_id['SongId']  = web_songs_id['SongId'].map(lambda x:x.strip("mkv"))

0         50546499
1         50546463
2         50546465
3         50546461
4         50546459
5         50546577
6         50546475
7         50546581
8         50546497
9         50546473
10        50546471
11        50546495
12        50546494
13        50546469
14        50546487
15        50546575
16        50546573
17        50546571
18        50546561
19        50546583
20        50546455
21        50465271
22        50465467
23        50060167
24        50407767
25        50465477
26        50407766
27        50465475
28        50465473
29        50465471
            ...
135483    50084116
135484    50074778
135485    50072027
135486    50082298
135487    50089270
135488    50080443
135489    50074357
135490    50050919
135491    50110132
135492    50049992
135493    50100194
135494    50100948
135495    50100949
135496    50100192
135497    50100947
135498    50101387
135499    50101315
135500    50101135
135501    50101390
135502    50101391
135503    50101393
135504    50101388
135505    50059601
135506    50059600
135507    50061790
135508    50058310
135509    50058314
135510    50058312
135511    50058573
135512    50087833
Name: SongId, dtype: object

In [582]:
web_songs_id['SongId'][:50].str.

0
1     50546463mkv
2     50546465mkv
3     50546461mkv
4     50546459mkv
5     50546577mkv
6     50546475mkv
7     50546581mkv
8     50546497mkv
9     50546473mkv
10    50546471mkv
11    50546495mkv
12    50546494mkv
13    50546469mkv
14    50546487mkv
15    50546575mkv
16    50546573mkv
17    50546571mkv
18    50546561mkv
19    50546583mkv
20    50546455mkv
21    50465271mkv
22    50465467mkv
23    50060167mkv
24    50407767mkv
25    50465477mkv
26    50407766mkv
27    50465475mkv
28    50465473mkv
29    50465471mkv
30    50465469mkv
31    50269697mkv
32    50221992mkv
33    50291453mkv
34    50534278mkv
35    50116924mkv
36    50472772mkv
37    50071314mkv
38    50447771mkv
39    50071312mkv
40    50071310mkv
41    50224860mkv
42    50218090mkv
43    50107860mkv
44    50105984mkv
45    50108238mkv
46    50219628mkv
47    50539858mkv
48    50539937mkv
49    50539930mkv
Name: SongId, dtype: object

['42343432']